#main {
  position: absolute;
  top: 50px;
  width: 100%;
}
#footer {
  position: absolute;
  bottom: 0px;
  background-color: aliceblue;
  width: 100%;
  border-top: 1px dotted blue;
}
.navbar-brand {
  padding: 0px;
}

.item-destroy {
  font-weight: bold;
  color: red;
}

body {background-color: white}
