<div class='row'>
  <br>
  <div class='col-md-3'>
    <h3 style='margin-top: 0px'>USER</h3>
    <div id='id'>ID: {{ id }}</div><br>
    <div>Name: {{ name }}</div>
    <div>Surname: {{ surname }}</div>
    <div>Email: {{ email }}</div>
    <button id='edit'>Edit</button>
  </div>
  <div class='col-md-9'>
    <button id='user-products'>user products</button>
    <div id='products'></div>
  </div>
</div>
