<div>
  <h3>USERS</h3>
</div>
<button class="btn btn-default add-item">add user</button>
<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
  </thead>
  <tbody>
  </tbody>
</table>