<div class="container">
  <!-- Brand logo -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="http://placehold.it/150x50&text=Logo" alt="">
    </a>
  </div>

  <!-- Navigation links -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#about">About</a></li>
      <li><a href="#products" >Products</a></li>
      <li><a href="#users" >Users</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
